<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.miguel.prototipo">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/paw"
        android:label="Doggit"
        android:roundIcon="@drawable/paw"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Activities.Activities.SignActivity">
        </activity>
        <activity
            android:name=".Activities.Activities.EspecificMatchDog">
        </activity>
        <activity
            android:name=".Activities.Activities.SearchPartnerActivity">
        </activity>
        <activity
            android:name=".Activities.Activities.MatchMainActivity">
        </activity>
        <activity
            android:name=".Activities.Activities.EditMyDog">
        </activity>
        <activity
            android:name=".Activities.Activities.ReportDog">
        </activity>
        <activity
            android:name=".Activities.Activities.About">
        </activity>
        <activity
            android:name=".Activities.Activities.MainActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:label="Missing Dogs">
        </activity>
        <activity
            android:name=".Activities.Activities.LogActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.Activities.EspecificMissingDog"
            android:label="@string/title_activity_especific_missing_dog"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".Activities.Activities.MyDogs">
        </activity>
        <activity
            android:name=".Activities.Activities.AddMyDog">
        </activity>
    </application>

</manifest>